// Dysk
$drive-right-offset: -50px;

// Macbook
$macbook-height: 1034px;
$macbook-left-offset: -400px;
//$macbook-offset: -70px;
$macbook-division: 0.9;

// Stylus
$stylus-right-offset: 400px;
$stylus-height: 239px;
//$stylus-offset: -100px;
$stylus-division: 0.6;

// Mysz
$mouse-right-offset: 0px;
$mouse-bottom-offset: 179px;

// Skoroszyt
$book-left-offet: -200px;
$book-height: 462px;
$book-offset: -370px;

// Moleskine - iPhone na czerownym notatniki
$moleskine-width: 420px;

// Słuchawki
$headphones-top-offset: 50px;

// Kawa
$coffee-right-offset : $stylus-right-offset - 100px;
$coffee-bottom-offset : 100px;

// Dysk
$hdd-top-offset: 113px;

// Ołówki
$pencils-top-offset: 53px;