<div class="dots" ng-class="dots"></div>
<div id="fullpage">
    <div class="section active" id="indexpage" data-url="/">
        <div class="content first">
            <div class="content logo"></div>
            <div class="content">
                <div class="menu">
                    <a href="/offer" ng-click="gotoOffer($event)">In venenatis</a>
                    <a href="/contact" ng-click="gotoContact($event)">vitae massa</a>
                </div>
                <div class="content table text">
                    <div class="content cell">
                        <div class="big-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />Etiam metus enim, fringilla a ex non.
                        </div>
                        <div class="small-text">
                             Aenean pellentesque dolor a eros ullamcorper, at viverra purus luctus,<br />
                            <strong>sapien lacus euismod justo.</strong>
                        </div>
                        <a href="/offer" class="btn btn-red" ng-click="gotoOffer($event)">
                            Lorem Ipsum
                        </a>
                    </div>
                </div>
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="section" id="offerpage" data-url="/offer">
        <div class="content first">
                        <div class="content book">
                            <div class="content">
                            <div class="content table">
                                <div class="content cell">
                                    <div class="big-text">
                                       In venenatis
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
												Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo. 
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="image image-offer"></div>
                                            <div class="description">
                                                <strong>Lorem Ipsum</strong>
                                                Nullam ac odio mollis, congue enim sit amet, consequat nibh. vehicula <span class="nowrap">volutpat dolor</span>, at consectetur leo.
                                            </div>
                                        </div>
                                    </div>

                                    <a href="/contact" class="btn btn-red" ng-click="gotoContact()">
                                        Duis sapien justo, scelerisque!
                                    </a>
                                    <div class="download-block">
                                        <a target="_blank" href="/offer.pdf" class="download"> nisl in ex viverr</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="section contact-color" id="contactpage" data-url="/contact">
        <div class="content first">
            <div class="content">
            <div class="content">
                <div class="footer">
                    <div class="table">
                        <div class="cell bottom-cell">
                            <span>&copy; 2017 CompanyName. All Right Reserver</span>
                        </div>
                    </div>
                </div>

                <div class="big-text">
                    In venenatis vitae!
                </div>
                <div class="small-text">
                    Aliquam auctor ligula id malesuada semper. Nulla non ullamcorper libero, non bibendum quam!
                </div>
                <form name="contactform" ng-submit="send()">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" class="contact-form-control"
                                   placeholder="Name, surname"
                                   ng-model="data.name"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="phone" class="contact-form-control"
                                   placeholder="Phone"
                                   ng-model="data.phone" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" name="email" class="contact-form-control"
                                   placeholder="E-mail"
                                   ng-model="data.email" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="title" class="contact-form-control"
                                   placeholder="Title"
                                   ng-model="data.title" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="content" ng-model="data.text" placeholder="Message text"></textarea>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-red">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<div app-view-segment="1"></div>